<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Theater</title>
    <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">

</head>
<body style="background-color:white;">

    <header>
        <div th:insert="fragments/navbar :: navbar"></div>
    </header>

    <div th:insert="fragments/header :: header"></div>


    <h4>กำลังฉาย</h4>
    <tr th:each="movie : ${moviesOnAir}">
        <a th:href="@{${'/movies/' + movie.id}}"><img th:src="@{${movie.image}}" class="img-thumbnail" alt="..."></a>
    </tr>

    <h4>โปรแกรมหน้า</h4>
    <tr th:each="movie : ${moviesComingSoon}">
        <a th:href="@{${'/movies/' + movie.id}}"><img th:src="@{${movie.image}}" class="img-thumbnail" alt="..."></a>
    </tr>

    <footer>
        <div th:insert="fragments/footer :: footer"></div>
    </footer>
</body>
<style>

    .card{
        margin-bottom: 5em;
    }

    div{
        font-family:'Noto Sans Thai', sans-serif;
    }

    .img-thumbnail{
        width: 250px;
        height: 350px;
        margin-left: 10em;
        margin-top: 2em;
        margin-bottom: 2em;
    }
</style>
</html>
