<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Theater</title>
  <link th:rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
  <script th:src="@{/js/bootstrap.min.js}"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Thai&display=swap" rel="stylesheet">


  <script>
       function img(item){
        document.getElementById("D1i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D2i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D3i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D4i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D5i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D6i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D7i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("D8i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";

        document.getElementById("C1i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C2i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C3i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C4i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C5i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C6i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C7i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("C8i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";

        document.getElementById("B1i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B2i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B3i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B4i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B5i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B6i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B7i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("B8i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";

        document.getElementById("A1i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("A2i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("A3i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";
        document.getElementById("A4i").src = "http://image.free.in.th/v/2013/it/211103091247.jpg";


        item.src = "http://image.free.in.th/v/2013/iq/211103013237.png";
    }
</script>

  <script>
    function getID(id){
          document.getElementById("seat").innerHTML = id;
    }
</script>

  <!--<script>-->
  <!--    var str = '';-->
  <!--    function getID(id){-->
  <!--        str += '' + id;-->
  <!--        document.getElementById("seat").innerHTML = str;-->

  <!--    }-->
  <!--</script>-->

<!--  <script>-->
<!--        function getTime(times){-->
<!--&lt;!&ndash;            document.getElementById("time").innerHTML = times;&ndash;&gt;-->
<!--            alert(times);-->
<!--        }-->
<!--    </script>-->










</head>
<body style="background-color:white;">

<header>
  <div th:insert="fragments/navbar :: navbar"></div>
</header>

<!--<div th:insert="fragments/header :: header"></div>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-8" style="margin-left:3em">
      <div class="box-all-cinemas">
        <ul class="nav nav-pills mb-3" id="cinemas-tab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="bkcinemas-tab" data-toggle="pill" href="#threedbkcinemas-showingseat" role="tab" aria-controls="threedbkcinemas-showingseat" aria-selected="true">
              เลือกรอบภาพยนตร์
            </a>
          </li>
        </ul>

        <div class="tab-content" id="pills-tab-content">



          <!-----3D Theater----->
          <div class="tab-pane fade active show" id="threedbkcinemas-showingseat" role="tabpanel" aria-labelledby="threedbkcinemas-showingseat" style="background-color:#1e1e20;">
            <!--                        <h4 style="magin-left:3em; margin-bottom:2em; color:black;">2.เลือกที่นั่ง</h4>-->
            <img border="0" src="http://image.free.in.th/v/2013/im/211103095250.png" style="margin-left:20px; width:90px; height: 90px; margin-top:30px"/></br></br>
            <img border="0" src="http://image.free.in.th/v/2013/id/211102112448.jpg" style="margin-left:160px; width:620px; height: 80px; margin-bottom:70px; margin-top:70px;"/>
            <table class="center data" width="60%" style="margin-left:190px;">
              <tr style="height: 80px; border-color:#1e1e20;">
                <td class="right color-white bg-red" width="10%">D</td>

                <td class="center">
                  <label>

                    <button type="button" id="D1" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D1i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D2" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D2i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D3" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D3i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D4" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D4i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D5" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D5i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D6" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D6i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D7" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D7i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="D8" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="D8i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);"  style="width:30px; height: 30px; margin-right:10em;"/></button>
                  </label>
                </td>
                <td class="light  color-white bg-red" width="10%">D</td>
              </tr>

              <tr style="height: 80px;">
                <td class="right color-white bg-red" width="7%">C</td>
                <td class="center">
                  <label>
                    <button type="button" id="C1" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C1i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C2" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C2i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C3" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C3i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C4" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C4i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C5" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C5i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C6" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C6i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C7" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C7i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="C8" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="C8i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                  </label>
                </td>
                <td class="light  color-white bg-red" width="7%">C</td>
              </tr>

              <tr style="height: 80px;">
                <td class="right color-white bg-red" width="7%">B</td>
                <td class="center">
                  <label>
                    <button type="button" id="B1" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B1i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B2" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B2i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B3" onclick="getID(this.id)"style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B3i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B4" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B4i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B5" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B5i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B6" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B6i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B7" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B7i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="B8" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="B8i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                  </label>
                </td>
                <td class="light  color-white bg-red" width="7%">B</td>
              </tr>

              <tr style="height: 80px;">
                <td class="right color-white bg-red" width="7%">A</td>
                <td class="center">
                  <label>
                    <button type="button" id="A1" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="A1i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="A2" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="A2i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>

                    <button type="button" id="A3" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="A3i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>
                    <button type="button" id="A4" onclick="getID(this.id)" style="width:33px; height: 33px; background-color: Transparent; background-repeat:no-repeat; border: none; cursor:pointer; overflow: hidden;">
                      <img id="A4i" src="http://image.free.in.th/v/2013/it/211103091247.jpg" onclick="img(this);" style="width:30px; height: 30px; margin-right:10em;"/></button>


                  </label>
                </td>
                <td class="light  color-white bg-red" width="7%">A</td>
              </tr>
            </table>
            </br>
            </br>
            </br>
            </br>

            <img border="0" src="http://image.free.in.th/v/2013/it/211103091247.jpg" style="width:33px; height: 33px; margin-bottom:8px; margin-left:40px;"/>
            <p th:text="${showTime.price} + ' บาท'" style="color:white; margin-left:90px; margin-top:-38px;"></p></br>

            </br>
            </br>
            </br>
          </div>
        </div>
      </div>
    </div>

    <div class="col-3" style="margin-left:85em; border-radius: 1.5em; border: solid 1px #F21137; position:fixed;">
      <h3 style="text-align:center;">สรุปยอด</h3>
      <div class="row">
        <div class="col-sm-8" style="margin-top:2em;">
          <p th:text="'เรื่อง : ' + ${movie.name}"></p>
          <p th:text="'สถานที่ : ' + ${place.name}"></p>
          <p th:text="'โรงภาพยนตร์ที่ : ' + ${cinema.number}"></p>
          <p th:text="'เวลา : ' + ${showTime.dateTime}"></p>
          <p>ที่นั่ง : <span id="seat"></span></p>
          <p th:text="'ผู้ใช้ : ' + ${user}"></p>
          <p th:text="'ราคา : ' + ${showTime.price}"></p>
          <form class="row g-3" th:action="">
            <div class="col-auto">
              <label for="inputPromotion" class="visually-hidden"></label>
              <input type="promotion" class="form-control" id="inputPromotion" placeholder="กรอกโค้ดส่วนลดของคุณ">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-dark mb-3">ใช้โค้ดส่วนลด</button>
            </div>
          </form>
          </div>
        </div>
      <button type="submit" class="btn btn-warning" style="margin-top:1em; margin-left:7em; margin-bottom:2em; padding-left:2em; padding-right:2em;">ยืนยัน</button>
      <!--        </form>-->
    </div>

  </div>
</div>












<footer>
  <div th:insert="fragments/footer :: footer"></div>
</footer>

</body>
<style>

<!--    img{-->
<!--        margin-left : 4px;-->
<!--        margin-right : 12px;-->
<!--    }-->

    td{
        text-align: center;
        color: white;
    }

    div{
        font-family:'Noto Sans Thai', sans-serif;
    }

    .img-thumbnail{
        width: 270px;
        height: 350px;


    }

    h3{

        font-family:'Noto Sans Thai', sans-serif;
        padding-top: 2em;
    }

    h6{
        font-family:'Noto Sans Thai', sans-serif;
    }

    .col-8, .col-3{
        margin-top: 10em;
        margin-bottom: 8em;

    }

    #bkcinemas-tab, #bkcinemas-seattab{
        font-size: 22px;
        margin-bottom: 50px;
    }


    .nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
    }

    dl, ol, ul {
        margin-top: 0;
        margin-bottom: 1rem;
    }

    *, ::after, ::before {
        box-sizing: border-box;
    }

    user agent stylesheet
    ul {
      display: block;
      list-style-type: disc;
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 40px;
    }

    div{
        font-family:'Noto Sans Thai', sans-serif;

    }


    ul#cinemas-tab, #bkcinemas-seattab{
        align-items: center;
        justify-content: center;
    }

    .box-all-cinemas .nav-pills .nav-link {
        color: #888;
    }

    .box-all-cinemas .nav-pills .nav-link.active, .box-all-cinemas .nav-pills .show>.nav-link {
        background-color: transparent;
        border-bottom: 2px solid #F21137;
        color: #F21137;
    }


    li {
      display: list-item;
      text-align: -webkit-match-parent;
    }



    h4{
        margin-top: 1em;
        margin-left: 1em;
    }


</style>
</html>
